* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main {
  height: 300vh;
}

.num1 {
  height: 25%;
  width: 100%;
  background-image: url("images/wot-masthead-dark.jpg");
  background-size: cover;
  /* position: relative; */
  font-family: 'Roboto Slab', serif;
  color: white;
}

.num1 .num1Row1 {
  height: 12%;
  width: 60%;
  margin: 20px auto;
  position: relative;
}

.num1 .num1Row1 .companyImage {
  width: 137px;
  padding-top: 20px;
}

.num1 .num1Row1 .navBar {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 20px;
}

.num1 .num1Row1 .navBar a {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  margin-right: 10px;
}

.num1 .num1Row1 .navBar a:hover {
  color: lightgreen;
}

.num1 .num1Row2 {
  /* height: 5%; */
  width: 45%;
  margin: 50px auto 0;
}

.num1 .num1Row3 {
  text-align: center;
  height: 25%;
  width: 100%;
  margin: -20px auto 20px;
  position: relative;
}

.num1 .small {
  font-size: 13px;
}

.num1 .large {
  font-size: 100px;
}


.num1 .num1Row4 span {
  position: relative:
  bottom: 15px;
}


.num1 .num1Row4  {
  height: 10%;
  width: 60%;
  margin: 25px auto 10px;
  text-align: center;
  position: relative;
}

/* .num1 .num1Row4 .whiteBar {
  height: 8px;
  display: block;
  background: #fff;
  width: 12%;
  position: absolute;
  top: 10px;
} */


.num1Row4 > span:first-child {
  height: 8px;
  display: block;
  background: #fff;
  width: 12%;
  position: absolute;
  top: 10px;
  left: 0;
}

.num1Row4 > span:nth-child(3) {
  height: 8px;
  display: block;
  background: #fff;
  width: 12%;
  position: absolute;
  top: 10px;
  right: 0;
}


.num1 .small strong:first-child {
  color: orange;
}

.num1 .small strong:nth-child(2) {
  color: lightgreen;
}

.num1 .boxes {
  /* position: absolute;
  top: 420px;
  left: 250px; */
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 600px;
  margin: 0 auto;
}

.num1 .boxes .box {
  height: inherit;
  width: 20%;
  display: flex;
  justify-content: center;
}

.num1 .boxes > :first-child {
  background: lightgreen;
}

.num1 .boxes > :nth-child(2) {
  background: darkgrey;
}

.num1 .boxes > :nth-child(3) {
  background: lightgrey;
}

.num1 .boxes > :nth-child(4) {
  background: lightblue;
}

.num1 .boxes > :nth-child(5) {
  background: rgba(255, 255, 0, 0.44);
}

.num1 .boxes .box a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  align-self: center;
  text-align: center;
}

.num1 .boxes .box a:hover {
  color: black;
}

.num2 {
  height: 300px;
  width: 100%;
  position: relative;
  top: 100%;
  font-family: Arial, "Helvetica", sans-serif;
  background: lightgrey;
  color: black;
}

.num3 {

}

.num4 {

}

.num5 {

}

.num6 {

}

.num7 {

}

.num8 {

}

footer {

}

@media screen and (max-width: 900px) {
  .num1 .num1Row1 {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .num1 .num1Row1 {
    width: 100%;
  }
}
